body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2f2c2c;
}

.container {
    position: relative;
    /* height: 400px; */
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #433f3f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border: 2px solid #ccc;
}

/* button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
} */

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

a {
    font-size: 1.1rem;
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #3e8e41;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  /* .container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
